body {
    background-color: #FFD7C4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #7695FF;
    font-weight: 800;
}

h3 {
    color: #7695FF;
}

img {
    height: auto;
    width: 315px;
}

